<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="id.mitungone.ot">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <dist:module dist:instant="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".Olahraga"
                  android:theme="@style/ThemeOlahraga"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Ol1"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Ol2"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Ol3"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Ol4"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Ol5"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Ol6"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Ol7"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Ol8"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Ol9"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga1"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga2"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga3"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga4"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga5"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga6"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga7"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga8"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga9"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga10"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga11"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga12"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga13"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga14"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga15"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga16"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga17"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".olahraga.Olahraga18"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".TimurTengah"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".timurtengah.Religi1"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".timurtengah.Religi2"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".timurtengah.Religi3"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".timurtengah.Religi5"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".timurtengah.Religi8"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".Korea"
                android:screenOrientation="portrait"
                android:theme="@style/ThemeKorea"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea1"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea2"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea3"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea4"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea5"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea6"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea7"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea8"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea9"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea10"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea11"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea12"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea13"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea14"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea15"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".korea.Korea16"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".Errors"
                android:screenOrientation="landscape"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Rcti"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Sctv"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Trans7"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Transtv"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Globaltv"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Antv"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Metrotv"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Kompastv"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Tvone"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Rtv"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Indosiar"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Inewstv"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Beritasatu"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Cnn"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Mnctv"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Tvri"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Nettv"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".indonesia.Balitv"
                android:screenOrientation="landscape"
                android:theme="@style/ThemeFullScreen"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".Global"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".Info"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".Help"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".Ads"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".Screen"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/id"/>
    </application>

    <!--musya_rizal 2019 support Ultra Studio Indonesia-->

</manifest>